@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins" , sans-serif;
    align-items: center;
}
body{
    min-height: 100vh;
    width: 100%;
    display: flex;
    background-color: #B0C4DE;
    background-size: 100%;
    align-items: center;
    justify-content: center;
    text-align: center;
}
.container{
    width: 85%;
    border-radius: 6px;
    padding: 20px 60px 30px 40px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    background-color: #fff;
}